{
"language":"vocabulary",
"json":{
    "retail_product_name":"RTI Name",
    "store":"Facility",
    "store:":"Facility: ",
    "store ":"Facility ",
    "store id":"Facility ID",
    "stores":"Facilities",
    "store name":"Facility Name",
    "# of skus":"RTIs",
    "sku accuracy":"RTI accuracy",
    "diff_percentage":"Diff %",
    "sku":"RTI Type",
    "skus":"RTI Types",
    "skus_over":"RTI Types Over",
    "skus_under":"RTI Types Under",
    "skus accuracy %":"RTI Types Accuracy %",
    "skus over %":"RTI Types Over %",
    "skus under %":"RTI Types Under %",
    "skus_match":"RTI Type Match",
    "sku match average":"RTI Type Match Average",
    "sku match - trend by %":"RTI Type Match - Trend by %",
    "sku match - trend by qty":"RTI Type Match - Trend by Qty",
    "store accuracy trend - dataset":"Facility Accuracy Trend - Dataset",
    "department":"RTI Type",
    "departments":"RTI Types",
    "enterprise accuracy by department":"Enterprise Accuracy by RTI",
    "class name":"Facility",
    "publish events sku qty":"Publish Events RTI Codes Qty",
    "front":"Production",
    "back":"Marketplace",
    "expected sf":"Expected Production",
    "expected sr":"Expected Marketplace",
    "counted sf":"Counted Production",
    "counted sr":"Counted Marketplace",
    "salesfloor":"Production",
    "stockroom":"Marketplace",
    "epc":"RTI",
    "epc quantity by status":"RTI Quantity by Status",
    "epc status: weekday average":"RTI Status: Weekday Average",
    "status trend - epcs by day":"Status Trend - RTIs by Day",
    "epc quantity by status - dataset":"RTI Quantity by Status - Dataset"
    }
}