{
    "method": "PATCH",
    "protocol": "http",
    "host": "services",
    "port": 8080,
    "path": "/riot-core-services/api/things/",
    "headers": {
        "Api_key": "E7TUWUG3YZHPH3TE"
    },
    "basicAuth": {
        "username": "myname",
        "password": "mypasss"
    },
    "body": "[{\"thingTypeCode\": \"VIZIXEVENTFLAGS\", \"serialNumber\":\"${Event_GroupCode}\",\"group\": \">RTIM\",\"udfs\": {\"Retail_UI_PublishedFlag\": {\"value\": true}, \"Retail_LastEventDate\": {\"value\": \"${Event_Date.timestamp}\"}},\"returnThings\": true}]"
}