{
    "method": "POST",
    "protocol": "http",
    "host": "hbridge",
    "port": 8080,
    "path": "/http-bridge/v2/data0/json",
    "params": {
        "bridgeCode": "/RTIM/FLOW",
        "thingTypeCode": "${concat('PRODUCTMEDIATOR',replace(thing.thingType.code,'PRODUCT',''))}"
    },
    "body": "{\"bridgeCode\":\"/RTIM/FLOW\",\"thingTypeCode\":\"${concat('PRODUCTMEDIATOR',replace(thing.thingType.code,'PRODUCT',''))}\",\"time\":0,\"serialNumber\":\"${Retail_SKU}\",\"udfs\":{\"Retail_LastUPC\":{\"time\":0,\"value\":\"${serialNumber}\"}}}"
}