{
    "method": "POST",
    "protocol": "http",
    "host": "notebooks-api",
    "port": 8999,
    "path": "/vizixEvent/DiscrepancyOnSyncEnd",
    "headers": {
        "Api-Key": "PASSWORD"
    },
    "basicAuth": {
        "username": "myname",
        "password": "mypasss"
    },
    "body": "{\"Tenant\":\"RTIM\",\"Event_GroupCode\":\"${Event_GroupCode}\",\"Event_DeviceId\":\"${Event_DeviceId}\",\"Event_Count\":${Event_Count},\"Event_Category\":\"${Event_Category}\",\"Event_SubCategory\":\"${Event_SubCategory}\",\"Event_Activity\":\"${Event_Activity}\",\"Event_Action\":\"${Event_Action}\", \"Event_Date\":\"${Event_Date}\", \"Event_Status\":\"${Event_Status}\"}"
}