{
    "host": "mqtt",
    "port": 1883,
    "topic": "/v1/data/rti/weekly",
    "mqtt-body": "{\"serial\":\"${serialNumber}\",\"name\":\"${name}\",\"EmailRecipient\":\"${EmailRecipient}\",\"HomeFacilityCode\":\"${HomeFacilityCode}\",\"DailyReportName\":\"${DailyReportName}\",\"frequency\":\"Weekly\"}"
}