{
    "mqtt": {
        "connectionCode": "mqtt-client"
    },
    "contentType": "text/html; charset=utf-8",
    "subject": "GIV Update Error. Action Required. ",
    "to": [
        "hugo.loza@mojix.com",
        "rfid_alert_group@client.com",
        "samuel.levy@mojix.com"
    ],
    "email-body": "Hi. This is an automated message from ViZix informing you that GIV update failed for  ${count} SKU(s) with the following error <br/> ${detailMessage}. <br /> Please have your GIV-Services team investigate the issue."
}