{
    "method": "PATCH",
    "protocol": "http",
    "host": "services",
    "port": 8080,
    "path": "/riot-core-services/api/zone/${MultiZone_ZoneID}",
    "headers": {
        "apiKey": "JU0WNFXUZGA7SWUO",
        "Content-Type": "application/json"
    },
    "body": "${escapeJson(MultiZone_Body)}"
}